# Cổng chạy ứng dụng
PORT=3000

# Chuỗi kết nối MongoDB (Thay thế <username>, <password> và <cluster> bằng thông tin của bạn)
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/tronest

# Khóa bí mật ký mã JWT Token
JWT_SECRET=your_jwt_secret_key_here
